@page "/imprint"

<PageTitle>Imprint</PageTitle>

@using BetterOOF.Data

<h1>Imprint</h1>
<p>
This application has been written for the sake of creating a product, so I have something to tinker around with.
</p>

<p>
    If you think there is a feature missing somewhere or you find a bug, please create an issue at our GitHub repo (see below).
</p>

<h1>We also need to talk about data privacy</h1>
<p>Just to make it clear...we are not using any cookies, we do not store or transmit your data in any way or form.
</p>
<p>
    You can take a look for yourself by checking our GitHub repository: <a href="https://github.com/tobiaswittenburg/BetterOOF">https://github.com/tobiaswittenburg/BetterOOF</a>
</p>