@page "/theproblem"

<PageTitle>The Problem with OOFs</PageTitle>

@using BetterOOF.Data

<h1>The Problem</h1>
<h2>Why this page exists...</h2>
<div>
    <p>
    Many oof replies look like this:
    </p>
    <p>
    <pre>
        Dear sender,
        I am currently not in the office. I will answer your email after my return. Your email will not be forwarded.
        Sincerely,
        The person you sent another important email to
    </pre>
    Other replies state the reason why someone is oof. As if the other person would care. Some other people want to be funny and add some verbal spice to that. 
    </p>
    <p>
    This is a huge problem, since the mentioned replies do give you any idea when you can expect a reply (if at all). In addition, there is no contact information on who to reach out instead.
    </p>
    <p>
    In order to fix this I created this little website. Additionally, I needed a pet project to try out a couple of things in Microsoft Azure.
    </p>

</div>